# Copy this file, remove ".example", and make changes like:
# adding : "-v ~/.aws:/.aws \" to use the tool to run jobs in AWS (ad-hoc or scheduled). Requires awcli setup on host (with ~/.aws setup with profile "default").


yaetos_jobs_home=/path/to/yaetos_jobs  # Fill path here

#cd $yaetos_home
docker build -t pyspark_container . # builds from Dockerfile
docker run -it -p 4040:4040 -p 8080:8080 -p 8081:8081 \
    -v $yaetos_jobs_home:/mnt/yaetos_jobs \
    -v $HOME/.aws:/.aws \
    -h spark \
    -w /mnt/yaetos_jobs/ \
    pyspark_container
